# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vs
.vs
_builder
TeamTalkHP/x64/*
_builder/Win32.Debug/*
_runtime/Win32.Debug
_runtime/x64.Debug
/_runtime/userdata/logs
_runtime/userdata/users
 src/PanelChatWindow/GeneratedFiles/qrc_QQChatMessage.cpp
/src/Env/x64/Debug
/x64/Debug
