*{font-family:Microsoft YaHei;}



/*open*/
QPushButton#m_pOpenBtn
{
    color:rgb(38 , 133 , 227);
    background-color:transparent;
}

QPushButton#m_pOpenBtn:hover
{
    color:rgb(97 , 179 , 246);
}

QPushButton#m_pOpenBtn:pressed
{
    color:rgb(0 , 109 , 176);
}

/*opendir*/
QPushButton#m_pOpenDirBtn
{
    color:rgb(38 , 133 , 227);
    background-color:transparent;
}

QPushButton#m_pOpenDirBtn:hover
{
    color:rgb(97 , 179 , 246);
}

QPushButton#m_pOpenDirBtn:pressed
{
    color:rgb(0 , 109 , 176);
}

/*reloaddown*/
QPushButton#m_pRepeatDownBtn
{
    color:rgb(38 , 133 , 227);
    background-color:transparent;
}

QPushButton#m_pRepeatDownBtn:hover
{
    color:rgb(97 , 179 , 246);
}

QPushButton#m_pRepeatDownBtn:pressed
{
    color:rgb(0 , 109 , 176);
}

/*zhuanfa*/
QPushButton#m_pTransmitBtn
{
    color:rgb(38 , 133 , 227);
    background-color:transparent;
}

QPushButton#m_pTransmitBtn:hover
{
    color:rgb(97 , 179 , 246);
}

QPushButton#m_pTransmitBtn:pressed
{
    color:rgb(0 , 109 , 176);
}


/*sendstate*/
QPushButton#m_pFileTypeStateImg
{
    border-radius:3px;
    background:transparent;
}

QPushButton#m_pFileTypeStateImg:hover
{
    border: 1px solid rgb(150 , 150 , 150);
}

QPushButton#m_pFileTypeStateImg:pressed
{
    padding-left:2px;
    padding-top:2px;
    border: 1px solid rgb(150 , 150 , 150);
}

QLabel#m_pFileTypeImg
{
    border-radius:4px;
}